@font-face {
    font-family: SofiaSans;
    src: url('./fonts/SofiaSans-Medium.ttf');
}
:root {
    --color1: #ffe8e5;
    --color2: #fff2c5;
    --color3: #e0f1ff;
    --color4: #ffffff;
    --color5: #f1d0fd;
    --color6: #111111;
    --filter1: invert(90%) sepia(52%) saturate(5146%) hue-rotate(290deg) brightness(133%) contrast(101%);
    --filter2: invert(89%) sepia(7%) saturate(1691%) hue-rotate(334deg) brightness(110%) contrast(102%);
    --filter3: invert(89%) sepia(98%) saturate(1309%) hue-rotate(177deg) brightness(103%) contrast(109%);
    --filter4: invert(96%) sepia(83%) saturate(16%) hue-rotate(292deg) brightness(105%) contrast(104%);
    --filter5: invert(93%) sepia(56%) saturate(2353%) hue-rotate(213deg) brightness(105%) contrast(105%);
}

.app-content {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
    font-family: SofiaSans;
}
.unselectable {
    -webkit-user-select: none;
    -webkit-touch-callout: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
/* ===================================up-section============================== */
.up-section-content {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}
.top-part {
    height: 70px; 
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.intr-btn{
    width: 30px;
    height: 30px;
    padding: 8px;
    border: 1px solid rgb(135, 135, 135);
    border-radius: 12px;
}
.intr-btn img {
    filter: var(--filter4);
}
.logo img{
    width: 150px;
    filter: var(--filter4);

}
@media screen and (max-device-width: 400px) { 
    .up-section-content {
        row-gap: 0;
    }

}

/* ===============================Intr-bar============================ */
.intr-bar {
    display: flex;
    flex-direction: row;
    column-gap: 30px;
    height: 40px;
    margin-bottom: 14px;
    align-items: center;
    overflow-x: auto;
}
.intr-bar::-webkit-scrollbar{
    display: none;
}
.intr-name{
    position: relative;
    font-size: 18px;
    height: 30px;
    text-align: center;
    color: rgb(173, 172, 172);
    transition: 0.2s;
}
.intr-name  .placeholder {
    opacity: 0;
    height: 30px;
    text-align: center;
}
.intr-name  > p{
    margin: 0;
    font-size: 18px;
    white-space: nowrap;
    transition: 0.2s;
}
.intr-name-active {
    font-weight: 500;
    color: rgb(238, 238, 238);
}
.intr-name-active > p{
    line-height: 14px;
    font-size: 23px;
}

@media screen and (max-device-width: 400px) { 
    .intr-bar {
        margin-bottom: 4px;
    }
}
/* ===================================mid-section==================================== */
.mid-section {
    height: 62vh;
    position: relative;
}
.article-card-container {
    position: absolute;
    transition: 0.5s;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
}
.article-card {
    position: relative;
    background-color: #fff2c5;
    height: 100%;
    padding: 20px;
    border-radius: 10px;
    min-width: -webkit-fill-available;
    transition: 0.3s;
}
.card-title > h1 {
    margin: 10px 0 0 0;
    font-size: 28px;
}
.card-title{
    max-height: 100px;
}
.card-author-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: row;
    margin-bottom: 10px;
}
.card-author-info p {
    margin: 0;
}
.author-main {
    display: flex;
    align-items: center;
    flex-direction: inherit;
    column-gap: 14px;
}
.card-author-avatar {
    width: 50px;
    height: 50px;
}
.card-author-avatar img{
    width: 100%;
    border-radius: 50%;
}

.card-main-block p {
    font-size: 14px;
}
.card-main-block .card-author-name {
    margin-top: 2px;
    font-size: 15px;
    font-weight: 600;
}
.card-follow-btn > p {
    padding: 10px 18px;
    color: white;
    background-color: black;
    border-radius: 14px;
    font-size: 16px;
}
.card-text{
    font-size: 18px;
    line-height: 28px;
}
.card-footer {
    position: absolute;
    bottom: -20px;
    right: 16px;
    display: flex;
    flex-direction: row;
    column-gap: 8px;
}
.footer-btn {
    width: 24px;
    height: 24px;
    padding: 10px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, 0.221);
}
.footer-btn-active {
   
}
.footer-btn img {
    width: 24px;
    transition: 0.1s;
}

@media screen and (max-device-width: 400px) { 
    .card-title h1 {
        font-size: 22px;
        margin-top: 0;
    }
    .card-text{
        font-size: 16px;
        line-height: 18px;
    }
    .card-author-info {
        margin-bottom: 14px;
    }
    .card-follow-btn {
        scale: 0.9;
    }
    .card-footer {
        bottom: -30px;
        scale: 0.8;
    }
    .card-updated-at{
        margin: 10px 0;
    }


}

  



/* =====================================down-section======================================= */
.down-section {
    position: relative;
    display: flex;
    justify-content: center;
    color: white;
    bottom: 50px;
    right: 0;
    left: 0;
    z-index: 8;
}
.bar-container {
    width: fit-content;
    display: flex;
    justify-content: center;
    column-gap: 5px;
    padding: 5px;
    background-color: rgb(30, 29, 29);
    border-radius: 16px;
}
.icon-container {
    transition: 0.3s;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    background-color: rgb(47, 46, 46);
    border-radius: 16px;
}
.icon-container-active {
    background-color: white;
}

.icon-container > img {
    width: 26px;
    height: 26px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}

.icon-container-active > img {
    filter: none;
}
@media screen and (max-device-width: 400px) { 
    .down-section{
        bottom: 30px;
    }
    .icon-container {
        height: 40px;
        width: 40px;
    }
    .icon-container  img {
        width: 30px;
    }
}


/* =================================article-page============================ */

.article-page{
    position: absolute;
    inset: 0;
    padding: 10px 20px;
    background-color: #fff2c5;
    z-index: 12;
    overflow-y: scroll;
    font-size: 19px;
    display: flex;
    justify-content: center;
    transition: background-color 0.3s;
    overscroll-behavior: none;
}
.color-container {
    width: 30px;
    height: 30px;
    padding: 2px;
    border: 2px solid rgb(123, 123, 123);
    border-radius: 50%;
    background-color: #e0f1ff;
    outline: none;
    outline-color: violet;
    z-index: 1;
}
.color-list {
    position: absolute;
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    margin-top: 5px;
}
.top-controls {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
/* .article-page::-webkit-scrollbar {
    background-color: #707070;
    padding: 10px;
}
.article-page::-webkit-scrollbar-thumb{
    background-color: #d1d1d1;
    border-radius: 5px;
} */
.article-content {
    max-width: 600px;
    width: 100%;
}
.article-body {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 100px;
}
.back-btn {
    width: 24px;
    height: 24px;
    padding: 12px;
    border-radius: 50%;
    background-color: rgba(67, 67, 67, 0.158);
}
.back-btn img {
    width: 100%;
}
.article-act-container {
    position: fixed;
    display: flex;
    flex-direction: row;
    column-gap: 10px;
    bottom: 40px;
    right: 20px;
}
.act-btn-container {
    width: 40px;
    height: 40px;
    background-color: #292929;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.act-btn-container img {
    background-color: transparent;
    width: 24px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);
}
.article-img-container {
    width: 100%; 
    cursor: pointer;
    margin-bottom: 8px;
}
.article-img-container img {
    width: 100%;
    border-radius: 20px;
}
.article-title h1 {
    font-size: 30px;
}
@media screen and (max-device-width: 400px) { 
    .article-title h1 {
        margin: 10px 0;
        font-size: 26px;
    }
    .article-body {
        font-size: 16px;
    }
    .article-act-container {
        scale: 0.8;
        bottom: 20px;
        right: 10px;
    }


}

/* =======================================Interes-page============================ */
.interest-list-page {
    position: absolute;
    background-color: #ffe8e5;
    right: 0;
    left: 0;
    height: 100vh;
    padding: 10px 20px;
    overflow-y:scroll;
    z-index: 10;
    overscroll-behavior: none;
}
.intr-list-header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.interest-list {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    padding-bottom:120px;
}
.IntrBlock{
    display: flex;
    flex-direction: row;
    column-gap: 10px;
}
.intr-btn-submit {
    position: fixed;
    right: 20px;
    left: 20px;
    bottom: 20px;
    height: 60px;
    font-size: 20px;
    background-color: black;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    color: white;
}
.Intr-name-container {
    width: 100%;
    background-color: white;
    border-radius: 10px;
    display: flex;
    align-items: center;
}
.Intr-name {
    font-size: 24px;
    margin: 0;
    margin-left: 20px;
}
.Checkbox-el {
    width: 50px;
    height: 48px;
    background-color: white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
}
.Checkbox-el img {
    width: 46px;
}




/* ============================editor-page================================ */

.editor-root {
    position: absolute;
    inset: 0;
    background-color: white;
    display: flex;
    padding: 10px 20px;
    flex-direction: column;
}
.editor {
    display: flex;
    justify-content: center;
}
.editor-header {
    height: 60px;
}
.editor-content {
    max-width: 600px;
    width: 100%;
    min-height: 600px;
}
.editor-title-input {
    position: relative;
    height: 50px;
}
.editor-title-editable {
    position: relative;
    z-index: 10;
    height: 40px;
    font-size: 34px;
}
.editor-title-placeholder {
    color: #575757;
    position: absolute;
    font-size: 34px;
    top: 0;
}
.editor-body-textarea {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}
.editor-img-container {
    width: 100%; 
    cursor: pointer;
    margin: 10px 0 ;
}
.editor-img-container img {
    width: 100%;
}
.text-box {
    outline: none; user-select: text; white-space: pre-wrap; overflow-wrap: break-word;
}


/* ======================================save-page================================= */
.Save-page {
    position: absolute;
    right: 0;
    left: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background-color: #161616;
    padding: 10px 20px;
    border-radius: 20px;
    z-index: 9;
}
.save-page-header {
    height: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 20px;
}
.save-header-name {
    color: white;
    font-size: 14px;
}

/* ==================================search-bar===================================== */
.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.search-input-container {
    width: 100%;
}
.search-input {
    width: 90%;
    background-color:#202020;
    border: none;
    font-size: 18px;
    padding: 14px 10px;
    border-radius: 10px;
    color: white;
}
.search-btn-container {
    display: flex;
    justify-content: center;
    width: 50px;
    align-items: center;
    aspect-ratio: 1/1;
    background-color: #202020;
    border-radius: 10px;
}
.search-btn-container img {
    width: 30px;
    filter: invert(100%) sepia(100%) saturate(0%) hue-rotate(288deg) brightness(102%) contrast(102%);

}
.save-articles-container {
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    overflow-y:auto;
    padding-bottom: 100px;
}
.save-articles-container::-webkit-scrollbar{
    display: none;
}



/* ==================================article-block============================== */
.article-block {
    width:auto;
    background-color: aquamarine;
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.5s;
}

.article-block-title h1{
    margin: 0;
    font-size: 21px;
}
.article-block-text p{
    margin: 0;
    margin-top: 5px;
}
@media screen and (max-device-width: 400px) { 
    .article-block-title h1 {
        min-height: 50px;
    }
}



.profile-icon {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
}
.profile-icon img {
    width: 100%;
}

.login-pop-up-back {
    color: white;
    overflow: hidden;
    position: absolute;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(10px);
    z-index: 100;
}
.login-pop-up {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    background-color: #242424;
    border-radius: 10px;
    padding: 20px;
}
.login-input{
    border: none;
    outline: none;
    background-color:rgba(131, 131, 131, 0.202);
    padding: 10px;
    border-radius: 4px;
    width: 91%;
    font-size: 18px;
    color: white;
}

.login-btn {
    height: 40px;
    width: 100%;
    text-align: center;
    background-color: white;
    font-size: 20px;
    border-radius: 10px;
    color: black;
}

/* ===============================writer-page================================== */
.writer-page{
    position: absolute;
    inset: 0;
    display: flex;
    flex-direction: column;
    padding: 10px 20px;
    backdrop-filter: blur(4px);
    background-color: #111111;
    overflow-y: auto;
    padding-bottom: 160px;
}


.topic-block {
    width:auto;
    min-height: 50px;
    background-color: rgb(29 28 28);
    padding: 10px 20px;
    border-radius: 10px;
    transition: 0.5s;
    display: flex;
    align-items: center;
}

.topic-block-title h1{
    margin: 0;
    font-size: 22px;
}
.writer-list-container{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-top: 20px;
}


.writer-loader {
    position: fixed;
    inset: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background-color: #000000a7;
    z-index: 10;
    /* backdrop-filter: blur(2px); */
}

.loader-body{
    width: 140px;
    height: 140px;
    background-color: rgb(26, 26, 26);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    animation: writer-loading 4s ease-in-out infinite;
}
.loader-icon {
    width: 80px;
    height: 80px;
    filter: var(--filter4);
}
.loader-text p{
    margin: 0;
    margin-top: 10px;
    font-size: 20px;
    color: white;
}

@keyframes writer-loading {
    0% { transform: scale(1); }
    50% { transform: scale(1.1); }
    100% { transform: scale(1); }
  }


.Author-page {
    position: absolute;
    width: 100%;
    inset: 0;
    background-color: #000000;
    z-index: 11;
}
.Author-page-content  {
    display: flex;
    flex-direction: column;
    overflow: auto;
    height: 100%;
    row-gap: 10px;
    overscroll-behavior: none;
}

.author-page-info {
    margin-top: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding: 14px;
    background-color: #111111;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
    color: white;
}

.top-info {
    display: flex;
    justify-content: space-between;
    height: 100px;
}
.top-main-info {
    min-width: 100px;
    height: 100px;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: center;
}
.top-img-container {
    width: 100px;
    height: 100px;
}
.top-img-container img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}
.number-holder {
    position: relative;
}
.author-name h1{
    font-size: 24px;
    margin: 0;
}
.author-numbers {
    display: flex;
    column-gap: 10px;
}
.number-p {
    margin: 0;
    font-size: 20px;
}
.top-span {
    position: absolute;
    color: #8d8d8d;
}


.mid-info {
    height: auto;
    background-color: #111111;
}
.mid-description {
    margin: 0;
    font-size: 14px;
}
.author-follow-btn {
    height: 44px;
    display: flex;
    background-color: #ffb1b1;
    border-radius: 10px;
    text-align: center;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}
.Author-page-articles {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    padding-bottom: 50px;
}

.Author-page-bar {
    position: fixed;
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: row;
    background-color: #111111;
    z-index: 10;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;

}

.Author-page-bar-btn  {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
}

.Author-page-bar > div > img  {
    width: 12px;
    filter: var(--filter4);
}
.Author-page-bar-info{
    display: flex;
    flex-direction: column;
    transition: 0.2s;
    width: auto;
    justify-content: center;
}
.Author-page-bar-info span{
    color: rgb(211, 211, 211);
    font-size: 14px;
}
.Author-page-bar-name{
    color: white;
    margin: 0;
}


